* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body {
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

/* - - - - - - TYPOGRAPHY - - - - - - */
p {
    color: var(--color-text);
    line-height: 175%;
}

a {
    color: Black;
}

#logo-header {
    font-size: 200%;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 150%;
}

.rotation {
    font-family: 'Share Tech Mono', monospace;
}

/* - - - - - - COLOUR - - - - - - */

/* Initial colours identified */
body {
    --color-accent: RosyBrown;
    --color-background: GhostWhite;
    --color-text: SlateGray;
}

/* - - - - - -   BUTTONS   - - - - - - */
.button-icon {
    font-size: 125%;
    padding: 10px; 
}
.button-icon:hover,
.button-icon:focus,
 {

}

.button-contact {
    border-bottom: 2px solid var(--color-accent);
}

/* = = = = = = = = = = = = = = =   HEADER + FOOTER   = = = = = = = = = = = = = = = */
header,
footer {
    height: 60px;;
    left: 0;
    right: 0;
}

header {
    padding: 10px 0px 10px 0px;
    top: 0;
    height: 60px;
    background-color: var(--color-background);
    border-bottom: 2px solid var(--color-accent);
    position: absolute;
}

footer {
    bottom: 0;
    align-content: center;
    position: fixed;
}

header * {
    display: inline;
}

nav {
    display: flex;
    justify-content: center;
}

nav li {
    text-align: center;
    text-decoration: none;
    display: inline;
}

#social-buttons {
    padding: 10px 10px 10px 0px;
    float: right;
}

#rotation {
    /* TODO:; display rotation */
    display: none;
}

/* = = = = = = = = = = = = = = =   MAIN   = = = = = = = = = = = = = = = */
.main {
    padding-top: 60px;
    height: 100vh;
    background-color: var(--color-text);
}